@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/poppins-v22-latin-200.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/poppins-v22-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/poppins-v22-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/luckiest-guy-v23-latin-regular.woff2') format('woff2');
}

:root {
    --ff-font-title: Luckiest Guy, cursive;
    --ff-font: Poppins, sans-serif;
    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;
    --fs-heading: 1.75rem;
    --fs-heading-title: 4rem;
    --fs-body: 1.2rem;
}

body {
    display: grid;
    place-items: center;
    font-family: var(--ff-font);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    min-height: 100svh;
    color: hsl(0, 0%, 35%);
}

header {
    text-align: center;
    margin-block-end: 5rem;

    & > p {
        font-size: calc(var(--fs-body) + 80% );
    }

    & > h1 {
        font-family: var(--ff-font-title);
        font-size: var(--fs-heading-title);
        letter-spacing: 5px;
        line-height: .8;
    }
}

.cards {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    margin-block-end: 5rem;
}

.card {
    text-align: center;
    width: 25rem;
    padding-block-start: 4rem;
    padding-block-end: 1rem;
    padding-inline: 1.5rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 7px;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.12);
}

.femCard {
    color: hsl(227, 44%, 44%);
    background-color: hsl(0, 0%, 98%);
    border-color: hsl(190, 50%, 65%);

    & > h2 {
        margin-block-end: 3rem;
        color: hsl(189, 50%, 61%);
    }
}

.ictCard {
    color: hsl(0, 0%, 100%);
    background-color: hsl(254, 32%, 70%);
    border-color: hsl(254, 32%, 21%);

    & > h2 {
        margin-block-end: 3rem;
        color: hsl(335, 77%, 53%);
    }
}

.challengeProvider {
    font-size: .825rem;
    letter-spacing: 2px;
    font-weight: var(--fw-regular);
}

footer {
    font-size: 1rem;
    text-align: center;
}
