@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/poppins-v22-latin-200.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/poppins-v22-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/poppins-v22-latin-600.woff2') format('woff2');
}

:root {
    --ff-font: Poppins, sans-serif;
    --fw-light: 200;
    --fw-regular: 400;
    --fw-bold: 600;
    --fs-heading: 2.5rem;
    --fs-body: 1.2rem;
}

body {
    display: grid;
    place-items: center;
    font-family: var(--ff-font);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    min-height: 100svh;
}

header {
    text-align: center;
    margin-block-end: 5rem;
}

.cards {
    display: flex;
    gap: 2rem;
    flex-direction: row;
}

.card {
    text-align: center;
    width: 25rem;
    padding: 4rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 7px;
}

.femCard {
    color: hsl(227, 44%, 44%);
    background-color: hsl(0, 0%, 98%);
    border-color: hsl(190, 50%, 65%);
}

.ictCard {
    color: hsl(0, 0%, 100%);
    background-color: hsl(259, 66%, 63%);
    border-color: hsl(254, 32%, 21%);
}
